<app-page-content>
        <div class="ui link cards">
          <div *ngFor="let item of items" routerLink="{{item.path}}" class="card">
            <div class="image">
              <img src="{{item.image}}">
            </div>
            <div class="content">
              <div class="header">{{item.title}}</div>
              <div class="meta">
                <a>Friends</a>
              </div>
              <div class="description">
                {{item.description}}
              </div>
            </div>
          </div>
        </div>
      </app-page-content>
      