<div class="ui segment">
  <h4 class="ui header">Account</h4>
  <div class="ui form">
    <div class="three fields">
      <div class="field">
        <label>Jenis Account</label>
        <select [(ngModel)]="selectedJenis" (click)="onChangeJenis()" class="ui search dropdown">
          <option value="0" disabled selected>Select Jenis</option>
          <option *ngFor="let item of (jenis$ | async)" [value]="item.id">{{item.nama}}</option>
        </select>
      </div>
      <div class="field">
        <label>Kelompok Account</label>
        <select [(ngModel)]="selectedKelompok" (ngModelChange)="onChangeKelompok()" class="ui search dropdown">
          <option value="0" disabled selected>Select Kelompok</option>
          <option *ngFor="let item of (kelompok$ | async)" [value]="item.id"> {{item.nama}} </option>
        </select>
      </div>
      <div class="field">
        <label>Buku Besar</label>
        <select [(ngModel)]="selectedBukubesar" (ngModelChange)="onChangeBukubesar()" placeholder="Select Bukubesar" class="ui search dropdown">
          <option value="0" disabled selected>Select Bukubesar</option>
          <option *ngFor="let item of (bukubesar$ | async)" [value]="item.accbb"> {{item.nama}} </option>
        </select>
      </div>
    </div>
  </div>
  <table datatable class="row-border hover">
    <thead>
      <tr>
        <th>ACC</th>
        <th>Keterangan</th>
        <th>Golongan</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of (account$ | async)">
        <td>{{ item.acc }}</td>
        <td>{{ item.keterangan }}</td>
        <td>{{ item.golongan }}</td>
        <td>
          <a class="ui button blue">Edit</a>
          <a class="ui button red">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
