:host.ui.main.container {
    margin-left: 3em !important;
    margin-right: 3em !important;
    margin-bottom: 3em !important;
    width: auto !important;
    max-width: 960px !important;
}

:host.ui.main.container>h2 {
    position: relative;
    margin: 5rem 0rem 3rem;
}

:host.ui.main.container>h2:first-child {
    margin-top: 0;
}

@media only screen and (max-width: 1024px) {
     :host.ui.main.container {
        margin-left: 2em !important;
        margin-right: 2em !important;
        margin-bottom: 1em !important;
    }
}

@media only screen and (max-width: 425px) {
     :host.ui.main.container {
        margin-left: 1em !important;
        margin-right: 1em !important;
        margin-bottom: 1em !important;
    }
}