:host.ui.masthead.segment {
    display: block;
    position: relative;
    margin: 0 0 3em 0;
    padding: 3em;
}

.ui.header {
    width: 960px;
}

@media only screen and (max-width: 1200px) {
    .github {
        display: none;
    }
}

@media only screen and (max-width: 1024px) {
     :host.ui.masthead.segment {
        margin-bottom: 2em;
        padding: 2em;
    }
}

@media only screen and (max-width: 425px) {
     :host.ui.masthead.segment {
        margin-bottom: 1em;
        padding: 1em;
    }
}