<h1 class="ui header">
    <ng-content select="[header]"></ng-content>
    <div class="sub header">
        <ng-content select="[sub-header]"></ng-content>
    </div>
    <app-breadcrumbs></app-breadcrumbs>
</h1>