<div class="ui top attached demo menu">
  <a class="item" (click)="sidebar.toggle()">
    <i class="sidebar icon"></i> Menu
  </a>
  <a class="browse item">
    Browse Courses
    <i class="dropdown icon"></i>
  </a>
  <div class="right menu">
    <a class="item">
        <button (click)="logout()" class="ui red button">Logout</button>
    </a>
  </div>
</div>
<sui-sidebar-container class="ui bottom attached segment">
  <sui-sidebar class="inverted vertical" #sidebar>
    <a *ngFor="let item of menu" class="item" 
        routerLinkActive="active" 
        [routerLink]="[item.path]">
        <i [ngClass]="item.icon"></i>{{ item.title }}</a>
  </sui-sidebar>
  <sui-sidebar-sibling [isDimmedWhenVisible]="true">
    <div class="ui segment">
      <div class="container">
        <button class="ui blue button" (click)="back()"> Kembali</button>    
        <app-breadcrumbs></app-breadcrumbs>
      </div>
    </div>
    
    <div class="ui basic segment container">
      
      <router-outlet></router-outlet>
    </div>
  </sui-sidebar-sibling>
</sui-sidebar-container>
