<div class="ui fixed inverted main menu">
    <div class="ui container">
        <a class="launch icon item">
            <i class="content icon"></i>
        </a>
        <div class="item">
            Getting Started
        </div>
        <div class="right menu">

            <div class="vertically fitted borderless item">
                <iframe class="github" src="//ghbtns.com/github-btn.html?user=semantic-org&amp;repo=semantic-ui&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100" height="20"></iframe>
            </div>
            <!--
        <div class="item">
          <div class="ui hidden right aligned search input" id="search">
            <div class="ui transparent icon input">
              <input class="prompt" type="text" placeholder="Search...">
              <i class="inverted search link icon" data-content="Search UI"></i>
            </div>
            <div class="results"></div>
          </div>
        </div>
        -->
        </div>
    </div>
</div>