<ng-template ngFor let-navitem [ngForOf]="navigation">
    <div class="item">
        <!-- <li *ngIf="isDivider(navitem)" class="nav-divider"></li> -->
        <ng-template [ngIf]="isTitle(navitem)">
            <div class="item">
                <b>{{ navitem.name }}</b>
            </div>
        </ng-template>
        <ng-template [ngIf]="!isDivider(navitem)&&!isTitle(navitem)">
            <div class="header" routerLinkActive="active" [routerLink]="[navitem.url]">{{ navitem.name }}</div>
            <div class="menu">
                <a class="item" *ngFor="let i of navitem.children" routerLinkActive="active" [routerLink]="[i.url]"><i [ngClass]="i.icon"></i>{{ i.name}}</a>
            </div>
        </ng-template>
    </div>
</ng-template>

<!-- <div class="item">
    <a class="ui images">
        <img class="ui image" src="favicon.ico" width="50" height="27">
    </a>
    <b class="logo">USP</b>
</div>
<a class="item" routerLink="/getting-started" routerLinkActive="active">
    <b>Getting Started</b>
</a>
<a class="item" href="https://github.com/edcarroll/ng2-semantic-ui">
    <b>Github Repository</b>
</a>
<div class="item">
    <div class="header">Collections</div>
    <div class="menu">
        <a class="item" routerLink="/collections/message" routerLinkActive="active">Message</a>
        <a class="item" routerLink="/collections/pagination" routerLinkActive="active">Pagination</a>
    </div>
</div>
<div class="item">
    <div class="header">Modules</div>
    <div class="menu">
        <a class="item" routerLink="/modules/accordion" routerLinkActive="active">Accordion</a>
        <a class="item" routerLink="/modules/checkbox" routerLinkActive="active">Checkbox</a>
        <a class="item" routerLink="/modules/collapse" routerLinkActive="active">Collapse</a>
        <a class="item" routerLink="/modules/datepicker" routerLinkActive="active">Datepicker</a>
        <a class="item" routerLink="/modules/dimmer" routerLinkActive="active">Dimmer</a>
        <a class="item" routerLink="/modules/dropdown" routerLinkActive="active">Dropdown</a>
        <a class="item" routerLink="/modules/modal" routerLinkActive="active">Modal</a>
        <a class="item" routerLink="/modules/popup" routerLinkActive="active">Popup</a>
        <a class="item" routerLink="/modules/progress" routerLinkActive="active">Progress</a>
        <a class="item" routerLink="/modules/rating" routerLinkActive="active">Rating</a>
        <a class="item" routerLink="/modules/search" routerLinkActive="active">Search</a>
        <a class="item" routerLink="/modules/select" routerLinkActive="active">Select</a>
        <a class="item" routerLink="/modules/sidebar" routerLinkActive="active">Sidebar</a>
        <a class="item" routerLink="/modules/tabs" routerLinkActive="active">Tabs</a>
        <a class="item" routerLink="/modules/transition" routerLinkActive="active">Transition</a>
    </div>
</div>
<div class="item">
    <div class="header">Behaviors</div>
    <div class="menu">
        <a class="item" routerLink="/behaviors/localization" routerLinkActive="active">Localization</a>
    </div>
</div>
<div class="item" *ngIf="inDevMode">
    <div class="header">Development</div>
    <div class="menu">
        <a class="item" routerLink="/development/test" routerLinkActive="active">Test</a>
    </div>
</div> -->