<div class="ui segment">
  <h4 class="ui header">Account Bukubesar</h4>
  <div class="ui form">
    <div class="two fields">
      <div class="field">
        <label>Jenis Account</label>
        <select (click)="onChangeJenis($event)" class="ui search dropdown">
          <option value="0" disabled selected>Select Jenis</option>
          <option *ngFor="let item of (jenis$ | async)" [value]="item.id">{{item.nama}}</option>
        </select>
      </div>
      <div class="field">
        <label>Kelompok Account</label>
        <select (click)="onChangeKelompok($event)" class="ui search dropdown">
          <option value="0" disabled selected>Select Kelompok</option>
          <option *ngFor="let item of (kelompok$ | async)" [value]="item.id"> {{item.nama}} </option>
        </select>
      </div>
    </div>
  </div>
  <table datatable class="row-border hover">
    <thead>
      <tr>
        <th>ACC</th>
        <th>Keterangan</th>
        <th>Golongan</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of (bukubesar$ | async)">
        <td>{{ item.accbb }}</td>
        <td>{{ item.nama }}</td>
        <td>{{ item.gol }}</td>
      </tr>
    </tbody>
  </table>
</div>
